@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Radex rent</h1>
    <p class="lead">The best Car rental company in the neighbourhood</p>
    <p><a href="https://localhost" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Radex rental gives you many possibilities to get from your home to a place which you were dreaming of for so long long time.</p>
        <p>All you need to do is click in here!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Got it! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Checkout cars</h2>
        <p>All kinds of cars - from economic to powerful, from little to hugde, from electric to diesel. </p>
        <p><a class="btn btn-default" href="http://localhost:49923/CarModels">Got it! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Checkout dates</h2>
        <p>You can make a reservation in a few simple steps</p>
        <p><a class="btn btn-default" href="http://localhost:49923/CarRents">Got it! &raquo;</a></p>
    </div>
</div>